body{
    margin: 0;
    background-color: rgb(249, 244, 244);
    height: 100vh;
    overflow: hidden;
    
}
span{
    background: url(https://cdn2.iconfinder.com/data/icons/valentine/128/h5.png);
    width: 100px;
    height: 100px;
    position: absolute;
    background-size: cover;
    pointer-events: none;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    animation: animation 10s linear;
    
}
@keyframes animation{
    0%{
        transform: translate(-50%, -50%);
        opacity: 1;
        filter: hue-rotate(0);
    }
    100%{
        transform: translate(-50%, 6000%);
        opacity: 0;
        filter: hue-rotate(720deg);
    }
    

}